body {
    background-color: #740404;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 25px;
}
td {
    vertical-align: text-top;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div {
    color: #000000;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #000000;
    background-color: #740404;
    border-radius: 15px;
    border: solid 3px #000000;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 10px 10px 15px #000000;
}